#root{
  display: flex;
}

.main{
  width: 100%;
}
.container{
  padding: 0px !important;
}
.header-container{
  padding: 20px;
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  /* background-color: rgb(46, 43, 43); */
}

.footer-container{
  font-weight:600;
  font-family: 'Trebuchet MS';
  color: aliceblue !important;
  padding: 20px;
  
  margin: 0px !important;
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 0.5)) !important;
}

#frm{
  display: block;
  width: 50%;
  margin: 10px auto;
  padding: 20px 10px !important;
  border-bottom: 2px solid black;
  
}

.pst{
  
  margin: 10px auto;
  padding: 20px 10px !important;
}