.my-li{
  padding: 2px;
  margin: 5px;
  background-color: aquamarine;
  width: 120px;
}

.my-span{
  padding: 5px; 
  margin: 10px 5px;
  color: chocolate;
  background-color: rgb(222, 225, 227);
  max-width: 200px;
  position:relative;
}