.my-li{
  display:block;
  padding: 5px;
  margin: 5px;
  background-color: aquamarine;
  /* width: 120pxssss; */
}

.btn{ 
  /* position:relative; */
  float: right;
  /* margin: 5px; */
}

.activated{
  background-color: rgb(244, 159, 159);
}